body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    padding-bottom: 16px;
}

.topNavbar{
    display: flex;
    justify-content: space-between;
}

.topNavbarLogo {
    color: #f9faf8;
    font-size: 24px;
    margin: 16px;
    margin-left: 120px;
    font-weight: bold;
    padding-left: 16px;

}

.topNavbarMenu {
    list-style: none;
    margin: 16px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    gap: 20px;
}

.topNavbarMenu li {
    display: inline;
}

.topNavbarMenu li a {
    font-size: 18px;
    color: #e5e7e5;
    text-decoration: none;
}

.topContent {
    display: flex;
    margin: 16px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 16px;
    justify-content: space-between;
    gap: 60px;
}

.topContentText #title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

.topContentText #subtitle {
    font-size: 18px;
    color: #e5e7e5;
    margin-bottom: 8px;
}

.topContent button{
    margin-top: 8px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3882f6;
    color: #f9faf8;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px/10px;
}

.topContentImage{
    align-items: center;

}


.topContentImage img {
    margin-top: 48px;
    margin-left: 48px;
    padding: 8px;
    width: 75%;
    height: 75%;
}

.section_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0 70px 0;
    gap: 25px;
}

.random_inform {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;

}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90px;
    gap: 40px;
}

.card_info img{
    width: 150px;
    height: 150px;
    border: solid 3px;
    border-radius: 20px;
    border-color: #3882f6;
}

.card_info p{
    margin-top: 10px;
    text-align: center;
    color:#1F2937;
    font-family: 'Courier New', Courier, monospace;
}